{% extends "base.html" %}

{% block cuerpo %}

<div class="row">
    <div class="col-md-4 offset-md-4 ">
        <h2>Editar Clientes</h2>
        <!-- Aqui codigo tarjeta -->

    <div class="card"> <!-- la tarjeta -->
        <div class="card-body">
            <form action="/editarCliente/" method="POST"> {% csrf_token %}<!-- falta action -->
            <div class="form-group">
                <input type="text" id="txtid_cli" name="txtid_cli" class="form-control" value="{{misclientes.id_cli}}" minlength="1" maxlength="6" readonly required>
            </div>
            <div class="form-group py-3">
                <input type="text" id="txtnombre" name="txtnombre" class="form-control" value="{{misclientes.nombre}}" maxlength="100" required>
            </div>
            <div class="form-group py-2">
                <input type="text" id="txtapellido" name="txtapellido" class="form-control" maxlength="100"value="{{misclientes.apellido}}" required>
            </div>
            <div class="form-group py-4">
                <input type="text" id="txtcorreo" name="txtcorreo" class="form-control" maxlength="100" value="{{misclientes.correo}}" required>
            </div>
            <div class="form-group py-5">
                <input type="date" id="txtfecha" name="txtfecha" class="form-control" value="{{misclientes.fecha}}" maxlength="100" required>
            </div>
            <div class="form-group py-6">
                <input type="text" id="txttelefono" name="txttelefono" class="form-control" value="{{misclientes.telefono}}" maxlength="100" required>
            </div>
            <div class="form-group py-7">
                <input type="text" id="txtdireccion" name="txtdireccion" class="form-control" value="{{misclientes.direccion}}" maxlength="100" required>
            </div>
            <div class="form-group py-7">
                <input type="text" id="txtid_prod" name="txtid_prod" class="form-control" value="{{misclientes.id_prod}}" maxlength="100" required>
            </div>
            <div class="form-group py-7">
                <input type="text" id="txtcantidad" name="txtcantidad" class="form-control" value="{{misclientes.cantidad}}" maxlength="100" required>
            </div>
            <div class="form-group py-7">
                <input type="text" id="txttotal" name="txttotal" class="form-control" value="{{misclientes.total}}" maxlength="100" required>
            </div>
            <div class="form-group py-2">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>
        </div> <!-- la tarjeta -->

        <!-- Aqui codigo tarjeta -->
        
    </div>
</div><!-- fila en editar  -->

{% endblock cuerpo %}


